/ecommerce-ai/.idea/encodings.xml
/ecommerce-ai/.idea/ecommerce-ai.iml
/ecommerce-ai/.idea/compiler.xml
/ecommerce-ai/.idea/copilot.data.migration.ask2agent.xml
/ecommerce-ai/.idea/.gitignore
/ecommerce-ai/.idea/jarRepositories.xml
/ecommerce-ai/ecommerce-backend/.mvn/wrapper/maven-wrapper.properties
/ecommerce-ai/.idea/misc.xml
/ecommerce-ai/.idea/modules.xml
/ecommerce-ai/.idea/vcs.xml
